/* Style the bodies */
.val-body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  
  background-color: black;
  
  width: 100vw;
  min-height: 100vh;
  margin: -8px;
  overflow: auto;
}

/* Style page headers */
.main-header {
  margin: 10%;
  margin-top: 2.5%;
  background-image: url("/images/valheim_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;

  width: 80vw;
  height: 200px;
}
.header {
  display: flex;
  justify-content: center center;
  color: rgb(255, 98, 0);
  text-shadow: 0 0.25vh lightgrey;
  font-size: 5vw;
  font-weight: 700;
  margin: 3rem auto;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 15px;
  background-size: contain;
  background-color: rgb(94, 102, 111, 0.75);
}
.table-header {
  display: flex;
  justify-content: center center;
  color: rgb(255, 98, 0);
  text-shadow: 0 0.25vh lightgrey;
  font-size: 3vw;
  font-weight: 700;
  padding: 5px 10px;
  margin: auto;
  width: fit-content;
  border-radius: 15px;
  background-size: contain;
  background-color: rgb(94, 102, 111, 0.75);
}

/* Style the tables */
.table-div {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  zoom: 70%;
}
.table {
  border: 4px solid black;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  font-size: 3vw;
  color: white;
  background-color: rgb(94, 102, 111, 0.75);
}
.table-head {
  padding: 5px .5vw;
}
.table-list {
  text-align: left;
}
.table-row {
  gap: 2px;
  /*border: 4px solid black;*/
}
.quality-table-data {
  padding: 10px 5vw;
}

/* Buttons */
.button-div {
  display: flex;
  flex-direction: column;
  gap: 10vw; /* Space between the two button divs */
  margin: 10vw;
}
.button-row {
  display: flex;
  justify-content: center;
  gap: 10vw; /* Space between each button */
  padding: 0 15%; /* Adjusts space on the sides */
}
.back-button-div {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 15%;
}
.button {
  display: inline-block;
  padding: 1vh 3vw;
  font-size: 2vw;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: rgb(255, 98, 0);
  background-color: rgb(94, 102, 111);
  border: none;
  border-radius: 15px;
  box-shadow: 0 0.5vh lightgray;
}
.button:hover {
  background-color: rgb(80, 85, 91);
}
.button:active {
  background-color: rgb(80, 85, 91);
  box-shadow: 0 0.25vh darkgray;
  transform: translateY(0.25vh);
}

/* Search Bar */
.search-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 1%;
}
.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}