/* Style page headers */
.main-header {
  margin: 2.5% 10% 5%;
  background-image: url("/images/valheim_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  width: 80vw;
  height: 200px;
}
.header {
  display: flex;
  justify-content: center center;
  color: rgb(255, 98, 0);
  text-shadow: 0 0.25vh lightgrey;
  font-size: 5vw;
  font-weight: 700;
  margin: 3rem auto;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 15px;
  background-size: contain;
  background-color: rgb(94, 102, 111, 0.75);
}

/* Style the tables */
.table-head {
  padding: 5px .5vw;
}
.table-list {
  text-align: left;
}
.table-row {
  gap: 2px;
  /*border: 4px solid black;*/
}
.quality-table-data {
  padding: 10px 5vw;
}